* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
body {
    margin: 0;
}


header {
 height: 50vh;
 background-image: url("../img/man-1.jpg");
 background-size: cover;
 background-position: center;
 position: relative;
 width: auto;
    
}

#text  {
    margin: 0;
    text-align: center;
    font-size: 0.5em;
    position: absolute;
    top: 115%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* background-color: firebrick; */
}
 
h2 {
    font-size: 3em;
    margin-top: 0.5em;
}


/* Change header min 992 */
@media (min-width: 992px) {

 header {
    height: 70vh;
    background-image: url("../img/man-2.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
}

#text  {
    margin: 0;
    text-align: left;
    font-size: 0.8vw;
    position: absolute;
    color: white;
    top: 10%;                        
    transform: translate(40%, 0);
    } 
}

/* Change header min 1170 */
@media (min-width: 1170px) {

    header {
       height: 100vh;
       background-image: url("../img/man-1.jpg");
       background-size: cover;
       position: relative;
       width: 100%;
   }
   
    #text  {
       text-align: left;
       font-size: 0.8vw;
       color: white;
       margin: 0;
       left: -10%;
       top: 40%;


    

   } 
   }